@model IEnumerable<ProyectoMVC.ServiceReferenceAW.SELECT_Production_ProductCategory_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Categoria", "Insert", "Production_ProductCategory", null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rowguid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rowguid)
        </td>
        <td>
            @Html.ActionLink(
            "Editar",
            "Update",
            "Production_ProductCategory",
            new {
                ProductCategoryID = item.ProductCategoryID,
                Name = item.Name,
                ModifiedDate = item.ModifiedDate
            },
            null
            )
        </td>
    </tr>
}

</table>
